model/to_understand
*.out
*.png
*.pt
*.npy
*.csv
*.jpg
*.txt
*~
*npy

.idea
.ipynb_checkpoints
.vscode
ardizzone
ntom
pol_smaller_ccnew_singleband
pol_smaller_ccnew_singleband_fcn
pol_smallerdf
spline
spline_en_simpler
spline_esn
spline_esn_simpler
spline_esn_singlenet
spline_esn_singlenet_reversed
src
toy
.directory
data_gen.jl
exploration.ipynb
exploration.jl
forward_prob.jl
inverse_DNN_dependent.jl
julia_to_py_dataset.jl
notes.txt
*/*/*.qsub.*
*/*.qsub.*
pol_smaller_ccnew/cINN_custom/find_min_grid_search.py
*/*/__pycache__/*
*/*/results/*
pol_smaller_ccnew/cINN_custom/create_table.py
Manifest.toml
