*.out
*.png
*.pt
*~
model/test/__pycache__/
Manifest.toml
.ipynb_checkpoints/*
.idea/
.vscode/
ardizzone/
data/
model/__pycache__/
model/output/
model/*.err
model/results
model/test/inn_rev.pt
.gitignore
model/test/inn.pt
