model/to_understand
*.out
*.png
*.pt
*.npy
*~
model/test/__pycache__/
Manifest.toml
.ipynb_checkpoints/*
.idea/
.vscode/
ardizzone/
data/
model/__pycache__/
model/output/
model/*.err
model/results
model/test/inn_rev.pt
.gitignore
model/test/inn.pt
ntom/data_*/
model/job.qsub.*
model/test/results
ntom/model/__pycache__/
ntom/model/job.qsub.*
